.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center{
    padding: 32px 48px;
    text-align: center;
    max-width: 480px;
}


.center i{
    font-size: 2rem;
    color: #03264C;
    padding-bottom: 4px;
}

.center i:hover{
    color: #0022AA;
}

.center p{
    text-align: center;
    line-height: 35px;
}

.center h2{
    text-align: center;
    line-height: 40px;
}

.copyright{
    font-size: 12px;
    text-decoration: none;
    padding: 16px 16px;
}

@media (min-width: 761px){
    .footer{
        flex-direction: row;
        justify-content: space-between;
    }
}