header{
    background-color: #EAC926;
}

.header-top{
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    padding: 32px 0;
}

.logo{
    width: 45%;
    height: 30%;
    display: inline;
    position: relative;
}

.buscar{
    width: 45%;
    display: inline;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: aliceblue;
    padding: 10px;
    border-radius: 8px;
}

.buscar-texto{
    border: none;
    background: none;
    outline: none;
    font-size: 20px;
    width: 100%;
}

.boton{
    width: 20px;
    height: 20px;
    text-decoration: none;
    font-size: 19px;
    display: inline;
    position: absolute;
    right: -20px;
}



.compra{
    text-align: center;
    padding-top: 35px;
}

a{
    text-decoration: none;
    color: black;
}

.burger-menu{
    color: white;
    display: flex;
    Justify-content: center;
    margin: 15px;
}

.burger-menu i{
   background-color: #03264C;;
   padding: 12px;
   border-radius: 7px;
}

.banner{
   width: 100vw;
}

 @media (max-width: 361px){
    .izq-der {
     display: none;
    }
} 


@media (min-width: 361px){
    .burger-menu{
        display: none;
    }

    .header-tablet{
        display: flex;
        justify-content: space-between;
    }

    .logo{
        width: 30%
    }

    .buscar{
        width: 22%
    }

    .compra{
        max-width: 25%;
        font-size: small;
    }

    .izq-der{
        display: flex;
        justify-content: space-between;
    }

    .izq-der ul{
        display: flex;
    }

    .izq-der li{
        margin: 0px 5px;
    }


/*     .izq{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    .der{
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }

    li{
        display: flex;
        padding-left: 40px;
        margin-right: 20px;
    } */
}

@media (min-width: 761px){
    .header-tablet, .izq-der{
        max-width: 1200px;
        margin: auto;
        align-items: center;
    }

    .izq-der{
        margin-top: 40px 
    }

    .izq-der li{
        margin: 0px 10px;
    }

    .izq-der a{
        font-size: 19px;
    }
}