 header{
    background-color: #EAC926;
}

.header-tablet{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: center;
        padding: 32px 0;
    }


.logo{
    width: 45%;
    height: 30%;
    display: inline;
    position: relative;
}

.barra-busqueda{
    background-color: #ffffff;
    width: 45%;
    align-self: center;
    display: flex;
    border-radius: 4px;
}

.barra-busqueda form{
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0.5rem;
}

.barra-busqueda input{
    border: none;
    outline: none;
}

.campo-busqueda{
    width: 100%;
    display: inline;
}

.campo-busqueda input{
    width: 100%
}

.lupa{
    justify-self: flex-end;
    display: inline;
}

.lupa button{
    border: none;
}

.lupa button:hover{
    cursor: pointer;
}


.compra{
    width: 100%;
    padding: 1rem;
    text-align: center;
}

 .compra div{
    display: inline;
} 

a{
    text-decoration: none;
    color: black;
}

.burger-menu{
    color: white;
    display: flex;
    Justify-content: center;
    margin: 15px;
}

.burger-menu i{
   background-color: #03264C;;
   padding: 12px;
   border-radius: 7px;
}

nav{
    display: none;
}

.banner{
   width: 100%;
}


@media (min-width: 361px){
    .burger-menu{
        display: none;
    }

    .logo{
        width: 30%;
    }

    .barra-busqueda{
        width: 30%;
    }

    .compra{
        width: 30%;
        padding: 0;
        display: flex;
        align-items: center;
    }

    nav{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-bottom: 24px;
    }

    .nav-izq-der{
        width: 40%;
        display: flex;
        justify-content: space-around;
        text-align: center;
    }

/*     .izq-der{
        display: flex;
        justify-content: space-between;
    }

    .izq-der ul{
        display: flex;
        padding-bottom: 10px ;
    }

    .izq-der li{
        margin: 0px 5px;
    }

    .izq-der i{
        display: flex;
        padding-top: 5px;
    }

    .izq{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    .der{
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }

    li{
        display: flex;
        padding-left: 40px;
        margin-right: 20px;
    } */ 
}

@media (min-width: 761px){

    .izq-der{
        margin-top: 40px 
    }

    .izq-der li{
        margin: 0px 10px;
    }

    .izq-der a{
        font-size: 19px;
    }
} 