<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/807c729568.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <header>
        <section class = "header-tablet">
                <img class = "logo" src="/img/logo-mercado-liebre.svg" alt="logo" style="cursor: pointer; max-width: 250px;">
                <section class="barra-busqueda">
                    <form action="/buscar" method="POST">
                        <div class="campo-busqueda">
                            <input type="text" placeholder="Buscá productos, marcas y más" required>
                        </div>
    
                        <div class="lupa">
                            <button type="submit"><i class="fas fa-search"></i></button>
                        </div>
                    </form>
                </section> 
                <section class = "compra">
                    <div><i class="fa-solid fa-hand-holding-dollar"></i></div>  
                    <p > 
                        Comprá en cuotas y sin tarjeta de crédito
                    </p>
                </section>
        </section>

       <nav>
        <ul class="nav-izq-der">
            <li>
                <a href="#">Ofertas</a>
            </li>
            <li>
                <a href="#">Tiendas Oficiales</a>
            </li>
            <li>
                <a href="#">Vender</a>
            </li>
            <li>
                <a href="#">Ayuda</a>
            </li>
        </ul>
        <ul class="nav-izq-der">
            <li>
                <a href="crea-tu-cuenta">Creá tu cuenta</a>
                <i class="far fa-id-card"></i>
            </li>
            <li>
                <a href="ingresa">Ingresá</a>
                <i class="fas fa-sign-in-alt"></i>
            </li>
            <li>
                <a href="#">Mis compras</a>
                <i class="fas fa-shopping-basket"></i>
            </li>
        </ul>
    </nav>

        <div class="burger-menu">
            <i class="fas fa-bars"></i>
            </div>

        <img class = "banner" src="/img/img-home-banner.jpg" alt = "banner">
    </header>
    <main>
        <div class = main>
            <form action="/" method= "post" class = "login">
                <div class = "nombres">
                    <input type="text" placeholder="Nombre de usuario" required>
                </div>
                <div class = "nombres">
                    <input type="password" placeholder="Contraseña" required>
                </div>
                <div class = "nombres, boton-entrar">
                    <button type = "submit">
                    Entrar
                    </button>
                </div>
            </form>
        </div>
    </main>

    <footer>
        <div class = "footer">
        <section class = "center">
            <i class="fa-solid fa-credit-card"></i>
            <h2>Pagá con tarjeta o en efectivo</h2>
            <p class = "cuerpoDeTexto">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en <br>
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        </section>
        <section class = "center">
            <i class="fa-solid fa-gift"></i>
            <h2>Envío gratis desde $ 2.500</h2>
            <p class = "cuerpoDeTexto">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de <br>
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section class = "center">
            <i class="fa-solid fa-user-shield"></i>
            <h2>Seguridad, de principio a fin</h2>
            <p class = "cuerpoDeTexto">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, <br>
                porque estás siempre protegid@.</p>
        </section>
        </div>
        <section>
            <p class = "cuerpoDeTexto, copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
    <script>
        const webLogo = document.querySelector('.logo')
        webLogo.addEventListener('click', () => {
                if(window){
                    window.location.href = '/'
                }else{  
                    alert('Ocurrio un error al redirigir.')
                }
        })
    </script>
</body>
</html>